{% unless page.comments == false %}
<div id="commento"></div>
<script src="https://cdn.commento.io/js/commento.js"></script>
<!--<noscript>Please enable JavaScript to load the comments.</noscript>-->
{% endunless %}
